# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.tomcat/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
out/
WebContent/WEB-INF/classes/
*.war
*.dat
